# Configurações do Servidor
PORT=3001

# URLs do LiveKit (Altere em Produção para as credenciais da Cloud do LiveKit)
LIVEKIT_URL=ws://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret
LIVEKIT_ROOM=evento-01

# URL de Callback do Google OAuth2
# (Substitua pelo seu domínio provisório ou definitivo na VPS, ex: https://seu-dominio.com/oauth2callback)
REDIRECT_URI=http://localhost:3001/oauth2callback
